@import '../../common/colors.scss';

.movie-heading,
.show-heading {
	color: $font-secondary;
	font-size: 22px;
	margin: 20px 0;
}

.movie-list,
.show-list {
	margin: 20px 0px 
	h2 {
		color: $font-secondary;
		margin-bottom: 10px;
		font-weight: 400;
	}
}

// .movie-container,
// .show-container {
// 	display: grid;
// 	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
// 	grid-gap: 15px;
// 	margin-bottom: 20px;
// }
